In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create path
path = r'C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 6\Energy_GDP_Project'

In [4]:
#import electricity access data (ea)
ea = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'electricity_access_wrangled.csv'))

In [5]:
ea.head()

       country  year       combined_key   ea_%_pop
0  Afghanistan  2000  Afghanistan, 2000   4.446891
1  Afghanistan  2001  Afghanistan, 2001   9.294527
2  Afghanistan  2002  Afghanistan, 2002  14.133616
3  Afghanistan  2003  Afghanistan, 2003  18.971165
4  Afghanistan  2004  Afghanistan, 2004  23.814182

In [6]:
ea.shape

(7348, 4)

In [7]:
#import energy from nuclear (nuc)
nuc = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'energy_from_nuclear_wrangled.csv'))

In [8]:
#check output
nuc.head()

       country  year       combined_key  %_energy_nuclear
0  Afghanistan  1990  Afghanistan, 1990               0.0
1  Afghanistan  1991  Afghanistan, 1991               0.0
2  Afghanistan  1992  Afghanistan, 1992               0.0
3  Afghanistan  1993  Afghanistan, 1993               0.0
4  Afghanistan  1994  Afghanistan, 1994               0.0

In [9]:
nuc.shape

(6916, 4)

In [10]:
#import energy from oil gas coal (ogc) data
ogc = pd.read_csv(os.path.join(path,'02 data', 'prepared data', 'energy_from_oil_gas_coal_wrangled.csv'))

In [11]:
#check output
ogc.head()

       country  year       combined_key  %_energy_fossil_fuels
0  Afghanistan  1990  Afghanistan, 1990                    0.0
1  Afghanistan  1991  Afghanistan, 1991                    0.0
2  Afghanistan  1992  Afghanistan, 1992                    0.0
3  Afghanistan  1993  Afghanistan, 1993                    0.0
4  Afghanistan  1994  Afghanistan, 1994                    0.0

In [12]:
ogc.shape

(6916, 4)

In [13]:
#import enrgy from renewables data (renew)
renew = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'energy_from_renewables_wrangled.csv'))

In [14]:
#check output
renew.head()

       country  year       combined_key  %_energy_renewables
0  Afghanistan  1990  Afghanistan, 1990                  0.0
1  Afghanistan  1991  Afghanistan, 1991                  0.0
2  Afghanistan  1992  Afghanistan, 1992                  0.0
3  Afghanistan  1993  Afghanistan, 1993                  0.0
4  Afghanistan  1994  Afghanistan, 1994                  0.0

In [15]:
renew.shape

(6916, 4)

In [16]:
#import GDP per capita data (gdp)
gdp = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'gdp_per_capita_wrangled.csv'))

In [17]:
#check output
gdp.head()

       country  year       combined_key         gdp
0  Afghanistan  1990  Afghanistan, 1990  183.532775
1  Afghanistan  1991  Afghanistan, 1991  183.532775
2  Afghanistan  1992  Afghanistan, 1992  183.532775
3  Afghanistan  1993  Afghanistan, 1993  183.532775
4  Afghanistan  1994  Afghanistan, 1994  183.532775

In [18]:
gdp.shape

(8646, 4)

In [19]:
#merge ea and nuc dataframes using combined key (inner)
ea_nuc = pd.merge(ea,nuc, on ='combined_key', how = 'inner')

In [20]:
ea_nuc.shape

(5770, 7)

In [21]:
ea_nuc.head()

,country_x,year_x,combined_key,ea_%_pop,country_y,year_y,%_energy_nuclear
0,Afghanistan,2000,"Afghanistan, 2000",4.446891,Afghanistan,2000,0.0
1,Afghanistan,2001,"Afghanistan, 2001",9.294527,Afghanistan,2001,0.0
2,Afghanistan,2002,"Afghanistan, 2002",14.133616,Afghanistan,2002,0.0
3,Afghanistan,2003,"Afghanistan, 2003",18.971165,Afghanistan,2003,0.0
4,Afghanistan,2004,"Afghanistan, 2004",23.814182,Afghanistan,2004,0.0

In [22]:
#drop all country and year columns
ea_nuc = ea_nuc.drop(columns = ['country_x' , 'year_x', 'country_y', 'year_y'])

In [23]:
ea_nuc.head()

        combined_key   ea_%_pop  %_energy_nuclear
0  Afghanistan, 2000   4.446891               0.0
1  Afghanistan, 2001   9.294527               0.0
2  Afghanistan, 2002  14.133616               0.0
3  Afghanistan, 2003  18.971165               0.0
4  Afghanistan, 2004  23.814182               0.0

In [24]:
ea_nuc.shape

(5770, 3)

In [25]:
#merge ea_nuc with renewables (inner)
ea_nuc_renew = pd.merge(ea_nuc, renew, on = 'combined_key', how = 'inner')

In [26]:
ea_nuc_renew.shape

(5770, 6)

In [27]:
ea_nuc_renew.head()

,combined_key,ea_%_pop,%_energy_nuclear,country,year,%_energy_renewables
0,"Afghanistan, 2000",4.446891,0.0,Afghanistan,2000,0.0
1,"Afghanistan, 2001",9.294527,0.0,Afghanistan,2001,0.0
2,"Afghanistan, 2002",14.133616,0.0,Afghanistan,2002,0.0
3,"Afghanistan, 2003",18.971165,0.0,Afghanistan,2003,0.0
4,"Afghanistan, 2004",23.814182,0.0,Afghanistan,2004,0.0

In [28]:
#drop country and year columns from new dataframe
ea_nuc_renew = ea_nuc_renew.drop(columns = ['country', 'year'])

In [29]:
#check shape
ea_nuc_renew.shape

(5770, 4)

In [30]:
#merge ea_nuc_renew with ogc (inner)
ea_nuc_renew_ogc =pd.merge(ea_nuc_renew, ogc, on = 'combined_key', how = 'inner')

In [31]:
#check shape
ea_nuc_renew_ogc.shape

(5770, 7)

In [32]:
#check output
ea_nuc_renew_ogc.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,country,year,%_energy_fossil_fuels
0,"Afghanistan, 2000",4.446891,0.0,0.0,Afghanistan,2000,0.0
1,"Afghanistan, 2001",9.294527,0.0,0.0,Afghanistan,2001,0.0
2,"Afghanistan, 2002",14.133616,0.0,0.0,Afghanistan,2002,0.0
3,"Afghanistan, 2003",18.971165,0.0,0.0,Afghanistan,2003,0.0
4,"Afghanistan, 2004",23.814182,0.0,0.0,Afghanistan,2004,0.0

In [33]:
#drop country and year column from new dataframe
ea_nuc_renew_ogc = ea_nuc_renew_ogc.drop(columns = ['country', 'year'])

In [34]:
#check output of new dataframe
ea_nuc_renew_ogc.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels
0,"Afghanistan, 2000",4.446891,0.0,0.0,0.0
1,"Afghanistan, 2001",9.294527,0.0,0.0,0.0
2,"Afghanistan, 2002",14.133616,0.0,0.0,0.0
3,"Afghanistan, 2003",18.971165,0.0,0.0,0.0
4,"Afghanistan, 2004",23.814182,0.0,0.0,0.0

In [35]:
#merge ea_nuc_renew_ogc with gdp data (inner)
energy_gdp_merged = pd.merge(ea_nuc_renew_ogc, gdp, on = 'combined_key', how = 'inner')

In [36]:
#check shape of all merged dataframes
energy_gdp_merged.shape

(5711, 8)

In [37]:
#check output of all merged dataframes
energy_gdp_merged.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,country,year,gdp
0,"Afghanistan, 2000",4.446891,0.0,0.0,0.0,Afghanistan,2000,183.532775
1,"Afghanistan, 2001",9.294527,0.0,0.0,0.0,Afghanistan,2001,183.532775
2,"Afghanistan, 2002",14.133616,0.0,0.0,0.0,Afghanistan,2002,183.532775
3,"Afghanistan, 2003",18.971165,0.0,0.0,0.0,Afghanistan,2003,200.462376
4,"Afghanistan, 2004",23.814182,0.0,0.0,0.0,Afghanistan,2004,221.657662

In [38]:
#create a list to rearrange column order in the merged dataframe
column_order = ['country', 'year', 'combined_key', 'ea_%_pop', '%_energy_nuclear', '%_energy_renewables', '%_energy_fossil_fuels', 'gdp']

In [39]:
#created a new dataframe merged with reorderd columns
merged = energy_gdp_merged[column_order]

In [40]:
#checkoutput
merged.head()

,country,year,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,gdp
0,Afghanistan,2000,"Afghanistan, 2000",4.446891,0.0,0.0,0.0,183.532775
1,Afghanistan,2001,"Afghanistan, 2001",9.294527,0.0,0.0,0.0,183.532775
2,Afghanistan,2002,"Afghanistan, 2002",14.133616,0.0,0.0,0.0,183.532775
3,Afghanistan,2003,"Afghanistan, 2003",18.971165,0.0,0.0,0.0,200.462376
4,Afghanistan,2004,"Afghanistan, 2004",23.814182,0.0,0.0,0.0,221.657662

In [41]:
#check shape of newest dataframe
merged.shape

(5711, 8)

In [43]:
#export merged dataframe (inner)
merged.to_csv(os.path.join(path, '02 data', 'prepared data', 'gdp_energy_merged_inner.csv',), index=False)