In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create path
path = r'C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 6\Energy_GDP_Project'

In [3]:
#import electricity access data (ea)
ea = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'electricity_access_wrangled.csv'))

In [4]:
ea.head()

       country  year       combined_key   ea_%_pop
0  Afghanistan  2000  Afghanistan, 2000   4.446891
1  Afghanistan  2001  Afghanistan, 2001   9.294527
2  Afghanistan  2002  Afghanistan, 2002  14.133616
3  Afghanistan  2003  Afghanistan, 2003  18.971165
4  Afghanistan  2004  Afghanistan, 2004  23.814182

In [5]:
ea.shape

(7348, 4)

In [6]:
#import energy from nuclear (nuc)
nuc = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'energy_from_nuclear_wrangled.csv'))

In [7]:
#check output
nuc.head()

       country  year       combined_key  %_energy_nuclear
0  Afghanistan  1990  Afghanistan, 1990               0.0
1  Afghanistan  1991  Afghanistan, 1991               0.0
2  Afghanistan  1992  Afghanistan, 1992               0.0
3  Afghanistan  1993  Afghanistan, 1993               0.0
4  Afghanistan  1994  Afghanistan, 1994               0.0

In [8]:
nuc.shape

(6916, 4)

In [9]:
#import energy from oil gas coal (ogc) data
ogc = pd.read_csv(os.path.join(path,'02 data', 'prepared data', 'energy_from_oil_gas_coal_wrangled.csv'))

In [10]:
#check output
ogc.head()

       country  year       combined_key  %_energy_fossil_fuels
0  Afghanistan  1990  Afghanistan, 1990                    0.0
1  Afghanistan  1991  Afghanistan, 1991                    0.0
2  Afghanistan  1992  Afghanistan, 1992                    0.0
3  Afghanistan  1993  Afghanistan, 1993                    0.0
4  Afghanistan  1994  Afghanistan, 1994                    0.0

In [11]:
ogc.shape

(6916, 4)

In [12]:
#import enrgy from renewables data (renew)
renew = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'energy_from_renewables_wrangled.csv'))

In [13]:
#check output
renew.head()

       country  year       combined_key  %_energy_renewables
0  Afghanistan  1990  Afghanistan, 1990                  0.0
1  Afghanistan  1991  Afghanistan, 1991                  0.0
2  Afghanistan  1992  Afghanistan, 1992                  0.0
3  Afghanistan  1993  Afghanistan, 1993                  0.0
4  Afghanistan  1994  Afghanistan, 1994                  0.0

In [14]:
renew.shape

(6916, 4)

In [15]:
#import GDP per capita data (gdp)
gdp = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'gdp_per_capita_wrangled.csv'))

In [16]:
#check output
gdp.head()

       country  year       combined_key         gdp
0  Afghanistan  1990  Afghanistan, 1990  183.532775
1  Afghanistan  1991  Afghanistan, 1991  183.532775
2  Afghanistan  1992  Afghanistan, 1992  183.532775
3  Afghanistan  1993  Afghanistan, 1993  183.532775
4  Afghanistan  1994  Afghanistan, 1994  183.532775

In [17]:
gdp.shape

(8646, 4)

In [18]:
#merge ea and nuc dataframes using combined key (outer)
ea_nuc = pd.merge(ea,nuc, on ='combined_key', how = 'outer')

In [19]:
ea_nuc.shape

(8494, 7)

In [20]:
ea_nuc.head()

,country_x,year_x,combined_key,ea_%_pop,country_y,year_y,%_energy_nuclear
0,Afghanistan,2000.0,"Afghanistan, 2000",4.446891,Afghanistan,2000.0,0.0
1,Afghanistan,2001.0,"Afghanistan, 2001",9.294527,Afghanistan,2001.0,0.0
2,Afghanistan,2002.0,"Afghanistan, 2002",14.133616,Afghanistan,2002.0,0.0
3,Afghanistan,2003.0,"Afghanistan, 2003",18.971165,Afghanistan,2003.0,0.0
4,Afghanistan,2004.0,"Afghanistan, 2004",23.814182,Afghanistan,2004.0,0.0

In [21]:
#drop all country and year columns
ea_nuc = ea_nuc.drop(columns = ['country_x' , 'year_x', 'country_y', 'year_y'])

In [22]:
ea_nuc.head()

        combined_key   ea_%_pop  %_energy_nuclear
0  Afghanistan, 2000   4.446891               0.0
1  Afghanistan, 2001   9.294527               0.0
2  Afghanistan, 2002  14.133616               0.0
3  Afghanistan, 2003  18.971165               0.0
4  Afghanistan, 2004  23.814182               0.0

In [23]:
ea_nuc.shape

(8494, 3)

In [24]:
#merge ea_nuc with renewables (outer)
ea_nuc_renew = pd.merge(ea_nuc, renew, on = 'combined_key', how = 'outer')

In [25]:
ea_nuc_renew.shape

(8494, 6)

In [26]:
ea_nuc_renew.head()

,combined_key,ea_%_pop,%_energy_nuclear,country,year,%_energy_renewables
0,"Afghanistan, 2000",4.446891,0.0,Afghanistan,2000.0,0.0
1,"Afghanistan, 2001",9.294527,0.0,Afghanistan,2001.0,0.0
2,"Afghanistan, 2002",14.133616,0.0,Afghanistan,2002.0,0.0
3,"Afghanistan, 2003",18.971165,0.0,Afghanistan,2003.0,0.0
4,"Afghanistan, 2004",23.814182,0.0,Afghanistan,2004.0,0.0

In [27]:
ea_nuc_renew = ea_nuc_renew.drop(columns = ['country', 'year'])

In [28]:
ea_nuc_renew.shape

(8494, 4)

In [29]:
#merge ea_nuc_renew with ogc (outer)
ea_nuc_renew_ogc =pd.merge(ea_nuc_renew, ogc, on = 'combined_key', how = 'outer')

In [30]:
ea_nuc_renew_ogc.shape

(8494, 7)

In [31]:
ea_nuc_renew_ogc.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,country,year,%_energy_fossil_fuels
0,"Afghanistan, 2000",4.446891,0.0,0.0,Afghanistan,2000.0,0.0
1,"Afghanistan, 2001",9.294527,0.0,0.0,Afghanistan,2001.0,0.0
2,"Afghanistan, 2002",14.133616,0.0,0.0,Afghanistan,2002.0,0.0
3,"Afghanistan, 2003",18.971165,0.0,0.0,Afghanistan,2003.0,0.0
4,"Afghanistan, 2004",23.814182,0.0,0.0,Afghanistan,2004.0,0.0

In [32]:
ea_nuc_renew_ogc = ea_nuc_renew_ogc.drop(columns = ['country', 'year'])

In [33]:
ea_nuc_renew_ogc.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels
0,"Afghanistan, 2000",4.446891,0.0,0.0,0.0
1,"Afghanistan, 2001",9.294527,0.0,0.0,0.0
2,"Afghanistan, 2002",14.133616,0.0,0.0,0.0
3,"Afghanistan, 2003",18.971165,0.0,0.0,0.0
4,"Afghanistan, 2004",23.814182,0.0,0.0,0.0

In [34]:
#merge ea_nuc_renew_ogc with gdp data (inner)
energy_gdp_merged = pd.merge(ea_nuc_renew_ogc, gdp, on = 'combined_key', how = 'outer')

In [35]:
energy_gdp_merged.shape

(8768, 8)

In [36]:
energy_gdp_merged.head()

,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,country,year,gdp
0,"Afghanistan, 2000",4.446891,0.0,0.0,0.0,Afghanistan,2000.0,183.532775
1,"Afghanistan, 2001",9.294527,0.0,0.0,0.0,Afghanistan,2001.0,183.532775
2,"Afghanistan, 2002",14.133616,0.0,0.0,0.0,Afghanistan,2002.0,183.532775
3,"Afghanistan, 2003",18.971165,0.0,0.0,0.0,Afghanistan,2003.0,200.462376
4,"Afghanistan, 2004",23.814182,0.0,0.0,0.0,Afghanistan,2004.0,221.657662

In [37]:
column_order = ['country', 'year', 'combined_key', 'ea_%_pop', '%_energy_nuclear', '%_energy_renewables', '%_energy_fossil_fuels', 'gdp']

In [38]:
merged = energy_gdp_merged[column_order]

In [39]:
merged.head()

,country,year,combined_key,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,gdp
0,Afghanistan,2000.0,"Afghanistan, 2000",4.446891,0.0,0.0,0.0,183.532775
1,Afghanistan,2001.0,"Afghanistan, 2001",9.294527,0.0,0.0,0.0,183.532775
2,Afghanistan,2002.0,"Afghanistan, 2002",14.133616,0.0,0.0,0.0,183.532775
3,Afghanistan,2003.0,"Afghanistan, 2003",18.971165,0.0,0.0,0.0,200.462376
4,Afghanistan,2004.0,"Afghanistan, 2004",23.814182,0.0,0.0,0.0,221.657662

In [40]:
merged.shape

(8768, 8)

In [41]:
merged.describe()

,year,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,gdp
count,8646.000000,7348.000000,6916.000000,6916.000000,6916.000000,8646.000000
mean,2006.000000,80.758292,4.171182,1.710929,42.292349,12366.147415
std,9.522455,28.745094,11.571857,4.631711,37.897291,20484.287913
min,1990.000000,0.533899,0.000000,0.000000,0.000000,22.850371
25%,1998.000000,68.435427,0.000000,0.000000,0.000000,1153.772085
50%,2006.000000,98.290939,0.000000,0.000000,41.938147,3852.266878
75%,2014.000000,100.000000,0.000000,1.053341,76.383645,15457.114572
max,2022.000000,100.000000,87.986221,65.443742,100.000000,234317.084800

In [42]:
#export merged outer data
merged.to_csv(os.path.join(path,'02 data', 'prepared data', 'energy_gdp_merged_outer.csv'), index=False)