In [2]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

In [3]:
#import json file
world_geo = r"C:\Users\jacob\Downloads\countries (2).geojson"
# Specify the encoding (e.g., 'utf-8')
geojson_data = json.load(open(world_geo, encoding='utf-8'))

In [4]:
#create path to project file
path = r"C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 6\Energy_GDP_Project"

In [5]:
#import merged energy and gdp data
df = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'energy_gdp_merged_inner_countries.csv'))

In [6]:
df.drop(columns = ['combined_key'], inplace = True)

In [7]:
df.rename(columns = {'gdp' : 'gdp_per_capita'}, inplace = True)

In [8]:
df.head()

,country,year,ea_%_pop,%_energy_nuclear,%_energy_renewables,%_energy_fossil_fuels,gdp_per_capita
0,Afghanistan,2000,4.446891,0.0,0.0,0.0,183.532775
1,Afghanistan,2001,9.294527,0.0,0.0,0.0,183.532775
2,Afghanistan,2002,14.133616,0.0,0.0,0.0,183.532775
3,Afghanistan,2003,18.971165,0.0,0.0,0.0,200.462376
4,Afghanistan,2004,23.814182,0.0,0.0,0.0,221.657662

In [9]:
# Assuming 'country' is the column in your DataFrame containing country names
country_column = df['country']

# List to store mismatched names
mismatched_names = []

# Iterate through GeoJSON features
for feature in geojson_data['features']:
    geojson_name = feature['properties']['ADMIN']  # Adjust the key as per your GeoJSON structure
    if geojson_name not in country_column.values:
        mismatched_names.append(geojson_name)
        # Find the corresponding name in your DataFrame (you can customize this based on your data)
        matching_name = find_matching_name(geojson_name, country_column)
        # Update the GeoJSON feature with the corrected name
        feature['properties']['ADMIN'] = matching_name

# Save the corrected GeoJSON data to a new file
with open('corrected_geojson_file.geojson', 'w') as outfile:
    json.dump(geojson_data, outfile)

NameError: name 'find_matching_name' is not defined