In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create path
path = r'C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 6\Energy_GDP_Project'

In [3]:
#import electricity access (ea) data
ea = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'electricity_access.csv'))

In [4]:
#check output
ea.head()

       Country  Year       Combined Key  electricity_access_%_population
0  Afghanistan  2000  Afghanistan, 2000                         4.446891
1  Afghanistan  2001  Afghanistan, 2001                         9.294527
2  Afghanistan  2002  Afghanistan, 2002                        14.133616
3  Afghanistan  2003  Afghanistan, 2003                        18.971165
4  Afghanistan  2004  Afghanistan, 2004                        23.814182

In [5]:
#reneame electricity_access_%_population to ea_%_pop for simplicity
ea.rename(columns = {'electricity_access_%_population' : 'ea_%_pop'}, inplace = True)

In [6]:
#check output
ea.head()

       Country  Year       Combined Key   ea_%_pop
0  Afghanistan  2000  Afghanistan, 2000   4.446891
1  Afghanistan  2001  Afghanistan, 2001   9.294527
2  Afghanistan  2002  Afghanistan, 2002  14.133616
3  Afghanistan  2003  Afghanistan, 2003  18.971165
4  Afghanistan  2004  Afghanistan, 2004  23.814182

In [7]:
#check for missing values of electricty access
ea.isnull().sum()

Country         0
Year            0
Combined Key    0
ea_%_pop        0
dtype: int64

In [8]:
#check for duplicates
ea_dups = ea.duplicated()

In [9]:
#check ea_dups
ea_dups

0       False
1       False
2       False
3       False
4       False
        ...
7343    False
7344    False
7345    False
7346    False
7347    False
Length: 7348, dtype: bool

In [10]:
#value counts of number of duplicated values
ea_dups.value_counts()

False    7348
Name: count, dtype: int64

In [11]:
#check descriptive analysis
ea.describe()

              Year     ea_%_pop
count  7348.000000  7348.000000
mean   2007.185357    80.758292
std       8.593472    28.745094
min    1990.000000     0.533899
25%    2000.000000    68.435427
50%    2008.000000    98.290939
75%    2015.000000   100.000000
max    2021.000000   100.000000

There are no missing values, no duplicate values and the descriptive analysis of the data appears to be consistent and reliable.

In [12]:
#shape of data
ea.shape

(7348, 4)

In [14]:
#export wrangled data
ea.to_csv(os.path.join(path, '02 data', 'prepared data', 'electricity_access_wrangled.csv'))