In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create path
path = r'C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 6\Energy_GDP_Project'

In [3]:
#import electricity access (ea) data
ea = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'electricity_access.csv'))

In [4]:
#check output
ea.head()

       Country  Year       Combined Key  electricity_access_%_population
0  Afghanistan  2000  Afghanistan, 2000                         4.446891
1  Afghanistan  2001  Afghanistan, 2001                         9.294527
2  Afghanistan  2002  Afghanistan, 2002                        14.133616
3  Afghanistan  2003  Afghanistan, 2003                        18.971165
4  Afghanistan  2004  Afghanistan, 2004                        23.814182

In [5]:
ea.shape

(7348, 4)

In [30]:
# descriptive analysis ea
ea.describe()

              Year  electricity_access_%_population
count  7348.000000                      7348.000000
mean   2007.185357                        80.758292
std       8.593472                        28.745094
min    1990.000000                         0.533899
25%    2000.000000                        68.435427
50%    2008.000000                        98.290939
75%    2015.000000                       100.000000
max    2021.000000                       100.000000

In [16]:
#import energy from nuclear (nuc) data
nuc = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'energy_from_nuclear.csv'))

In [17]:
#check output
nuc.head()

       country  year       combined key  %_energy_from_nuclear
0  Afghanistan  1990  Afghanistan, 1990                    NaN
1  Afghanistan  1991  Afghanistan, 1991                    NaN
2  Afghanistan  1992  Afghanistan, 1992                    NaN
3  Afghanistan  1993  Afghanistan, 1993                    NaN
4  Afghanistan  1994  Afghanistan, 1994                    NaN

In [18]:
nuc.shape

(6916, 4)

In [31]:
#descriptive analysis nuc
nuc.describe()

              year  %_energy_from_nuclear
count  6916.000000            4634.000000
mean   2002.500000               6.172183
std       7.500542              13.635725
min    1990.000000               0.000000
25%    1996.000000               0.000000
50%    2002.500000               0.000000
75%    2009.000000               3.666252
max    2015.000000              87.986221

In [19]:
#import energy from renewables (renew) data
renew = pd.read_csv(os.path.join(path, '02 data', 'original data', 'energy_from_renewables.csv'))

In [20]:
#checkoutput
renew.head()

       country  year       combined key  %_energy_renewables
0  Afghanistan  1990  Afghanistan, 1990                  NaN
1  Afghanistan  1991  Afghanistan, 1991                  NaN
2  Afghanistan  1992  Afghanistan, 1992                  NaN
3  Afghanistan  1993  Afghanistan, 1993                  NaN
4  Afghanistan  1994  Afghanistan, 1994                  NaN

In [21]:
renew.shape

(6916, 4)

In [32]:
#descriptive analysis renew
renew.describe()

              year  %_energy_renewables
count  6916.000000          4761.000000
mean   2002.500000             2.480903
std       7.500542             5.409203
min    1990.000000             0.000000
25%    1996.000000             0.000000
50%    2002.500000             0.411142
75%    2009.000000             2.080273
max    2015.000000            65.443742

In [23]:
#import oil gas coal (ogc) data
ogc = pd.read_csv(os.path.join(path, '02 data', 'original data', 'energy_from_oil_gas_coal.csv'))

In [24]:
#check output
ogc.head()

       country  year       combined key  %_energy_fossil_fuels
0  Afghanistan  1990  Afghanistan, 1990                    NaN
1  Afghanistan  1991  Afghanistan, 1991                    NaN
2  Afghanistan  1992  Afghanistan, 1992                    NaN
3  Afghanistan  1993  Afghanistan, 1993                    NaN
4  Afghanistan  1994  Afghanistan, 1994                    NaN

In [25]:
#check shape
ogc.shape

(6916, 4)

In [33]:
#descriptive analysis ogc
ogc.describe()

              year  %_energy_fossil_fuels
count  6916.000000            4761.000000
mean   2002.500000              60.233161
std       7.500542              30.825572
min    1990.000000               0.000000
25%    1996.000000              38.051821
50%    2002.500000              65.799204
75%    2009.000000              87.455189
max    2015.000000             100.000000

In [26]:
#import gdp per capita data (gdp)
gdp = pd.read_csv(os.path.join(path, '02 data', 'original data', 'gdp_per_capita.csv'))

In [27]:
#check output
gdp.head()

       country  year       combined key  gdp
0  Afghanistan  1990  Afghanistan, 1990  NaN
1  Afghanistan  1991  Afghanistan, 1991  NaN
2  Afghanistan  1992  Afghanistan, 1992  NaN
3  Afghanistan  1993  Afghanistan, 1993  NaN
4  Afghanistan  1994  Afghanistan, 1994  NaN

In [29]:
#check shape of gdp
gdp.shape

(8778, 4)

In [34]:
#descriptive analysis GDP
gdp.describe()

              year            gdp
count  8778.000000    8206.000000
mean   2006.000000   12103.702786
std       9.522447   20245.754235
min    1990.000000      22.850371
25%    1998.000000    1143.883563
50%    2006.000000    3777.668159
75%    2014.000000   14310.969895
max    2022.000000  234317.084800